@import '~antd/dist/antd.css';

.ant-card-body{
    padding: 0 !important;
}

.card{
    margin-top: 15px;
    box-shadow: 0px 0px 5px rgb(223, 223, 223);
}

.card:hover{
    box-shadow: 0px 0px 10px rgb(190, 190, 190);
}

.ant-card-actions{
    height: 28px !important;
    display: flex;
    align-items: center;
}

.class{
    font-family: fantasy;
}